/*時間表部分*/
.timetable-grid {
  display: flex;
  border: 1px solid #ebeef5;
}
.time-header, .day-header {
  height: 40px;
  line-height: 40px;
  text-align: center; 
  background: #f5f7fa;
  border-bottom: 1px solid #ebeef5;
  font-weight: 600;
}
.time-slot {
  border-bottom: 1px solid #f0f2f5;
  color: #131313;
  font-size: 8px;
  padding-left: 1px;
}

.time-label {
  font-weight: bold;   
}

.time-column {
  min-width: 50px;
  border-right: 1px solid #ebeef5; 
  box-sizing: border-box;
}

.day-column {
  flex: 1;
}

.day-content {
  position: relative;
  border-right: 1px solid #ebeef5;
}


/*課程方塊*/
.course-block {
  position: absolute;
  left: 0;
  right: 0;  
  background: #f0f9eb;
  border: 2px solid #c2e7b0;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 10px; 
  display: flex;    
  align-items: center;
  justify-content: center;
}

.course-block:hover {
  box-shadow: 0 8px 8px rgba(162, 255, 170, 0.24);
  transform: scale(1.02);
}

.course-content {
  text-align: center; 
  font-weight: 600;  
  line-height: 1.2;
}


